<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <!-- <span class="text-muted">Toggleable via the navbar brand.</span> -->
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button style="margin: 10px 0 10px 20px;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <h5 style="color: white; margin: 10px;">Job Portal</h5>
          </button>
        </nav>
      </div>

      <h5 style="margin-top: 20px; margin-left: 40%;">New Job openings</h5>

      <br>

      <div class="container">
        <div class="row">
          {% for d in data %}
          <div class="col-lg-5 prad">
            <h5><u>{{ d.Job_post }}</u></h5>
            <h6>{{ d.Company_name }}</h6>
            <p> <span>&#8377;{{ d.stipend }}</span></p>
            <a href="{% url 'emp' %}">Easily apply</a>
            
            <br>
            <p style="font-size: 12px; margin-top: 10px; opacity: 0.9;">{{ d.job_description }}</p>
          </div>
          {% endfor %}
        </div>
      </div>

</html>